<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="emoji"         
            id="emoji"
            name="Emoji"
            priority="high">
      </content-type>
   </extension>
      
   <!-- ================== CodeMining support for .emoji ================== -->
   <!-- 1) register CodeMining provider with extension point -->
   <extension
      point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
      <codeMiningProvider
           class="org.eclipsecon.codemining.emoji.EmojiCodeMiningProvider"
           id="org.eclipsecon.codemining.emoji"
           label="Emoji">
           <enabledWhen>
           	  <with variable="editorInput">
                 <adapt type="org.eclipse.core.resources.IFile">
                   <test property="org.eclipse.core.resources.contentTypeId" value="org.eclipsecon.codemining.emoji" />
                 </adapt>
           	  </with>
           </enabledWhen>
      </codeMiningProvider>
   </extension>
   <!-- 2) update CodeMining provider with a reconciler (only for Generic Editor) -->
   <extension
         point="org.eclipse.ui.genericeditor.reconcilers">
      <reconciler
            class="org.eclipse.jface.text.codemining.CodeMiningReconciler"
            contentType="org.eclipsecon.codemining.emoji">
      </reconciler>
   </extension>   

   <!-- Defines a custom Emoji Editor to define with Java code a reconclier which update minings. This editor is not required if you wish to use only GenericEditor  -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Emoji Editor"
            extensions="emoji"
            icon="icons/sample.png"
            class="org.eclipsecon.codemining.emoji.editor.EmojiEditor"
            id="org.eclipsecon.codemining.emoji">
      </editor>
   </extension>
   
</plugin>